<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-4">
      <%= form.label :name %>
      <%= form.text_field :name, id: :product_name, class: 'form-control' %>
    </div>

    <div class="col-md-4">
      <%= form.label :price %>
      <%= form.text_field :price, id: :product_price, class: 'form-control' %>
    </div>
    <div class="col-md-4">
      <%= form.label :catalog %>
      <div rel="vca" role="cascader" name="product[catalog_id]" value="<%= @product.catalog_id %>"  props='{"label": "name", "value": "id", "children": "children_data"}' url="http://localhost:3000/catalogs.json"></div>
    </div>
  </div>
  <div class="row mt-2 ml-1">
    <%= form.label :tag %>
    <div rel="vca" role="tag" name="product[tag_list]" value="<%= @product.tag_list %>" type="success" closable disable-transitions hit size="medium"></div>
  </div>
  <div class="row mt-3 ml-1">
    <%= form.label :images %>
    <p rel="vca" role="image-upload"
        name="product[images][]"
        token-url="http://localhost:3000/get-upload-token"
        upload-url="//up-z2.qiniup.com"
        domain="<%= ENV['QINIU_DOMAIN'] %>"
        file-list="<%= @product.images.join(',') if @product.images %>"
        multiple
        list-type="picture-card"
        limit="5" 
        tip="最多上传5个图片"></p>
  </div>
  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :product_description, class: 'form-control' %>
  </div>
  <div class="field">
    <%= form.label :content %>
    <%= form.cktext_area :content, id: :product_content, class: 'form-control', cols: 40, ckeditor: { toolbar: 'mini' } %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-lg btn-primary btn-block' %>
  </div>
<% end %>
