<p id="notice"><%= notice %></p>

<h3>
  产品列表
  <%= link_to '新建产品', new_product_path, class: 'btn btn-success' %>
</h3>
<div class="row">
  <% @products.each do |product| %>
  <div class="col-md-3">
    <div class="card">
      <p class="card-header"><%= product.name%></p>
      <div class="card-body">
        <div class="row">
          <div class="col-6 text-left">
            <h5 class="card-title text-danger"><%= product.sell_price.to_i/100.0 %>元</h5>
          </div>
          <div class="col-6 text-right">
            <h5 class="card-title"><h6 class="card-subtitle text-muted"><span class="badge badge-danger"><%= product.catalog.full_name %></span></h6></h5>
          </div>
        </div>
      </div>
      <img style="height: 150px; width: 100%; display: block;" src="<%= product.first_image %>" alt="Card image">
      <div class="card-body">
        <p class="card-text"><%= product.description.truncate(30) %></p>
        <% product.tags.each do |tag|%>
          <span class="badge badge-success"><%= tag.name%></span>
        <% end%>
      </div>
      <div class="card-body">
        <%= link_to '查看', product_path(product), class: 'btn btn-sm btn-success' %>
        <%= link_to '编辑', edit_product_path(product), class: 'btn btn-sm btn-warning' %>
        <%= link_to '删除', product, method: :delete, data: { confirm: '确定要删除吗?' }, class: 'btn btn-sm btn-danger' %>
      </div>
    </div>
  </div>
  <% end %>
</div>
<br>
