<p id="notice"><%= notice %></p>
<h5>
  <%= @product.name %><span class="badge badge-danger"><%= @product.catalog.full_name %></span>
  <%= link_to '编辑', edit_product_path(@product), class: 'btn btn-success' %>
  <%= link_to '返回', products_path, class: 'btn btn-warning' %>
</h5>
<div class='row mt-5'>
  <div class='col'>价格: <%= @product.price %>元</div>
  <div class='col'>卖价: <%= @product.sell_price %>元</div>
  <div class='col'>库存: <%= @product.stock %></div>
  <div class='col'>标签: 
    <% @product.tags.each do |tag|%>
      <span class="badge badge-success"><%= tag.name%></span>
    <% end %>
  </div>
</div>
<div class='row mt-5 ml-1'>
  <p>产品简介: <%= @product.description %></p>
</div>
<div class='row mt-5 ml-1'>
  <p>产品图片:</p>
  <% @product.images.each do |image|%>
    <img src="<%= image %>" class="rounded float-right ml-5" alt="产品图片" style="height: 200px;">
  <% end %>
</div>
<div class="mt-5">
  <h5>产品详情</h5>
  <%= raw(@product.content)%>
</div>


